body {
  margin: 0;
  padding: 0;
  font-family: "avenir next", "avenir"; }

.container div {
  font-size: 14px;
  text-align: center;
  padding: 10px; }

.header {
  background-color: #2196F3;
  color: #333; }

.footer {
  background-color: #2196F3;
  color: #333; }

.App {
  display: block; }

.body {
  background-color: #FFF; }

.container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap; }

.btn-tutorial {
  width: 100px;
  height: 50px;
  margin: auto; }

.container-article {
  display: block; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; }

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; }

.box {
  background-color: #F3F3F3;
  display: block;
  border: 1px solid #F3F3F3;
  margin: 10px;
  padding: 9px 9px; }

.link-article {
  color: #333; }

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .container {
    justify-content: center; }
  .box {
    flex-basis: 100%; } }

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .container {
    justify-content: flex-start; }
  .box {
    flex-basis: 25%; } }

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .container {
    justify-content: flex-start; }
  .box {
    flex-basis: 20%; } }
